<div class="row">
<app-nav-bar></app-nav-bar>
</div>
<div class="container-fluid">
    <div class="shadow bg-light border container mt-5">
        <form>
        <div class="card-header">
            <h3 class="text-dark">Informations personnelles</h3>
        </div>
        <div class="card-body">
                <div class="row m-1 g-3">
                    <div class="col">
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control" id="lastName">
                    </div>
                    <div class="col">
                        <input type="text" name="firstName" placeholder="First Name" class="form-control" id="firstName">
                    </div>
                </div>
                <div class="row m-1 g-3">
                    <div class="col">
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control" id="lastName">
                    </div>
                    <div class="col">
                        <input type="text" name="identityCardNumber" placeholder="Identity Card Number " class="form-control" id="identityCardNumber ">
                    </div>
                </div>
                <div class="row m-1 g-3">
                    <div class="col">
                        <input type="date" name="birthday" placeholder="Birthday" class="form-control" id="birthday">
                    </div>
                    <div class="col">
                        <input type="text" name="address" placeholder="Address " class="form-control" id="address ">
                    </div>
                </div>
                <div class="row m-1 g-3">
                    <div class="col">
                        <input type="email" name="email" placeholder="Email" class="form-control" id="email">
                    </div>
                    <div class="col">
                        <input type="text" name="confirmEmail" placeholder="Confirm Email " class="form-control" id="confirmEmail">
                    </div>
                </div>
                <div class="row m-1 g-3">
                    <div class="col">
                        <input type="number" name="phone" placeholder="Phone Number" class="form-control" id="phone">
                    </div>
                    <div class="col">
                        <input type="text" name="tradeRegister " placeholder="Trade Register Number" class="form-control" id="tradeRegister">
                    </div>
                </div>
                <div class="row m-1 g-3">
                    <div class="col-6">
                        <input type="number" name="patentNumber" placeholder="Patent Number" class="form-control" id="patentNumber">
                    </div>
                </div>           
        </div>
        <div class="card-header">
            <h3 class="text-dark">Pièce joites</h3>
        </div>
        <div class="card-body">
            <div class="row m-1 g-3">
                <div class="col-3">
                    <input type="text" name="description_1" placeholder="Description for file 1" class="form-control" id="description_1">
                </div>
                <div class="col-3">
                    <input type="file" name="file_1"  class="form-control" id="file_1">
                </div>
                <div class="col-3">
                    <input type="text" name="description_2" placeholder="Description for file 2" class="form-control" id="description_2">
                </div>
                <div class="col-3">
                    <input type="file" name="file_2"  class="form-control" id="file_2">
                </div>
            </div>     
    </div>
        <div class="card-footer">
            <div class="row m-1 g-3">
                <div class="col-12">
                    <button type="submit" class="col-12 btn btn-info text-dark fs-4">Confirm</button>
                  </div>
            </div>
        </div>
    </form> 
    </div>

</div>