<nav class="navbar bg-light border-bottom">
    <div class="container">
        <div class="d-flex">
            <button style="background: none;border:0;padding: 0;" routerLink="../home">
                <h4 style="color:rgb(5,0,91); font-family: 'Anton', sans-serif; font-size: 2rem;" class="m-0" >ENSA-PAY</h4>
            </button>            
        </div>
        <button style="background: none;border:0;padding: 0;" (click)="logOut()">
            <fa-icon [icon]="faArrowRightFromBracket" style="color:rgb(5,0,91); ;font-size:2rem;"></fa-icon>
        </button>
    </div>
</nav>