<div class="row">
    <app-nav-bar></app-nav-bar>
    </div>
    <div class="container-fluid">
        <div class="shadow bg-light border container mt-5">
            <form>
            <div class="card-header">
                <h3 class="text-dark">Ouverture d'un compte de paiement</h3>
            </div>
            <div class="card-body">
                    <div class="row m-1 g-3">
                        <div class="col">
                            <select class="form-select" aria-label="Default select example">
                                <option value="200">Hssab 1 - Plafond : 200 DH</option>
                                <option value="5000">Hssab 2 - Plafond : 5000 DH</option>
                                <option value="20000">Hssab 3 - Plafond : 20000 DH</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-1 g-3">
                        <div class="col">
                            <input type="text" name="lastName" placeholder="Last Name" class="form-control" id="lastName">
                        </div>
                        <div class="col">
                            <input type="text" name="firstName" placeholder="First Name " class="form-control" id="firstName ">
                        </div>
                    </div>
                    <div class="row m-1 g-3">
                        <div class="col">
                            <input type="number" name="phone" placeholder="Phone number" class="form-control" id="phone">
                        </div>
                        <div class="col">
                            <input type="email" name="email" placeholder="Email" class="form-control" id="email">
                        </div>
                    </div>         
            </div>
            <div class="card-footer">
                <div class="row m-1 g-3">
                    <div class="col-12">
                        <button type="submit" class="col-12 btn btn-warning text-dark fs-4">Suivant</button>
                      </div>
                </div>
            </div>
        </form> 
        </div>
    
    </div>